@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
margin: 0;
user-select: none;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
color: #fff;
}



body {
  color: #fff;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #000000, #5c0828, #000000, #4b0339);
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;

}

.login-box {
max-width: 700px;
float: none;
margin: 150px auto;
animation: transition  2s;

}


.login-left {
padding: 30px;
position: absolute;
right: 10px;
border: 3px solid rgb(255, 255, 255);
background: linear-gradient(-45deg, #000000, #5c0828, #000000, #4b0339);
background-size: 200% 200%;
animation: change 10s ease-in-out infinite;

}
.register-right {
  padding: 30px;
  position: absolute;
  left: 10px;
  border: 3px solid rgb(255, 255, 255);
  background-color: transparent;
  background: linear-gradient(-45deg, #000000, #5c0828, #000000, #4b0339);
  background-size: 200% 200%;
  animation: change 10s ease-in-out infinite;
}
label {
  position: relative;
  padding-top: 5px;


}
h2 {
  position: relative;
  display: block;
  list-style-type: none;
  margin: 20px 0;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(84, 212, 10);
}
a:active {
  color: blue;
}



.form-control {
  background-color: transparent;

}


@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
  }

  @keyframes transition {
    from{
    opacity: 0;
    transform: translate(-30px);
    
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
    
    }