@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
margin: 0;
padding: 0;
user-select: none;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}


/*body / animation gradient*/
body{
color: #fff;
width: 100%;
height: 100vh;
background: linear-gradient(-45deg, #7a2106, #960c41, #29004b, #ff0000);
background-size: 400% 400%;
animation: change 10s ease-in-out infinite;
min-height:1500px;

}
@keyframes change {
0% {
  background-position: 0 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0 50%;
}
}
/*nav bar*/
nav{
background: #000000;
position:sticky;
}
nav:after{
content: '';
clear: both;
display: table;
}

/*logo*/
.logo {
  float: left;
  height: 70px;
  width: 90px;
  animation: transition  2s;
}
.logo img {
  width: 100%;
  height: auto;
}


/*nav header font*/
nav .header{
float: left;
position: relative;
color: rgb(255, 255, 255);
font-size: 27px;
font-weight: 600;
line-height: 70px;
padding-left: 60px;
right: 40px;
}

/*nav buttons*/
nav ul{
float: right;
margin-right: 40px;
list-style: none;
position: relative;
}
nav ul li{
display: inline-block;
background: #000000;
margin: 0 5px;
}
nav ul li a{
color: rgb(255, 255, 255);
line-height: 70px;
text-decoration: none;
font-size: 18px;
padding: 8px 15px;
}
nav ul li a:hover{
color: rgb(185, 182, 182);
border-radius: 5px;
box-shadow:  0 0 5px #000000,
               0 0 10px #000000;
}
nav ul ul li a:hover{
 box-shadow: none;
}
nav ul ul{
position: absolute;
top: 90px;
border-top: 1px solid rgb(255, 255, 255);
opacity: 0;
visibility: hidden;
transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
top: 70px;
opacity: 1;
visibility: visible;
}
nav ul ul li{
position: relative;
margin: 0px;
width: 150px;
float: none;
display: list-item;
border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
position: relative;
top: -60px;
left: 150px;
}
.show,.icon,input{
display: none;
}
.fa-plus{
font-size: 15px;
margin-left: 40px;
}
/*media*/
@media all and (max-width: 968px) {
  nav ul{
  margin-right: 0px;
  float: left;
  }

  /*nav minimised*/
  nav .header{
  padding-left: 50px;
  }
  .show + a, ul{
  display: none;
  }
  nav ul li,nav ul ul li{
  display: block;
  width: 100%;
  }
  nav ul li a:hover{
  box-shadow: none;
  }
  .show{
  display: block;
  color: white;
  font-size: 18px;
  padding: 0 20px;
  line-height: 70px;
  cursor: pointer;
  margin-left: -4px;
  }
  .show:hover{
    color: rgb(92, 88, 88);
  }
  .icon{
  display: block;
  color: white;
  position: absolute;
  top: 0;
  right: 40px;
  line-height: 70px;
  cursor: pointer;
  font-size: 25px;
  }

  nav ul ul{
  top: 70px;
  border-top: 0px;
  float: none;
  position: static;
  display: none;
  opacity: 1;
  visibility: visible;
  }
  nav ul ul a{
padding-left: 40px;
  }
  nav ul ul ul a{
padding-left: 80px;
  }
  nav ul ul ul li{
position: static;
  }
  [id^=btn]:checked + ul{
display: block;
  }
  nav ul ul li{
border-bottom: 0px;
  }
  span.cancel:before{
content: '\f00d';
  }
}

/*content*/
.content{
z-index: -1;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}


/*header middle*/
header{
font-size: 35px;
font-weight: 600;
padding: 10px 0;
border-radius: 25px;
border: 4px solid #ffffff;
padding: 20px;
animation: transition  2s;
top: 300px;
margin-top: 200px;
}
/*information*/
p{
font-size: 20px;
font-weight: 600;
margin-top: 10px;
animation: transition  2s;
padding: 20px 0;
border-radius: 25px;
border: 4px solid #ffffff;
padding: 20px;
}

/*image home*/
.midimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.midimage img {
  position:absolute;
  top: 700px;
  border: 4px solid #ffffff;
  animation: transition  2s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


}

/* Clear the floats after image */
.row::after {
  content: "";
  clear: both;
  display: table;
}





/* animation - transition */
@keyframes transition {
from{
opacity: 0;
transform: translate(-30px);

}
to {
  opacity: 1;
  transform: translate(0);
}

}



/*footer*/
footer{
  position:absolute;
  bottom: -1000px;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  height: 300px;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
  border: 1px solid #ccc;

}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #ccc;

}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
































